.player-button {
    border-style: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin: 6px 3px 7px 4px;
}

.time-block {
    font-family: 'Roboto', sans-serif;
}

.player-container {
    flex-grow: 1;
}

.player-icon {
    color: white;
    font-size: 20px;
}

.buttons-line {
    background-color: black;
    display: flex;
}

.video-player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.player-buttons-filler {
    flex-grow: 1;
}