.player .buttons-line {
    background: black;
    display: flex;
}

.player .player-button {
    border-style: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin: 6px 3px 7px 2px;
}

.viewing-panel {
    color: white;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 11px;
    padding-left: 2px;
    margin-right: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.progressbar-slider {
    margin-top: 8px;
    background-color: red;
    height: 5px;
    border-radius: 5px;
}

.progress-bar {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.viewing-progressbar {
    flex-grow: 1;
    align-items: center;
    margin: 0 10px 10px 10px;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #f8104d;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    box-shadow: 0 0 1px 1px white;
    margin: 4px;
    margin-left: -4px;
}

.progress-bar:hover .dot {
    opacity: 100%;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
}

.player-container {
    flex-grow: 1;
}

.player-icon {
    color: white;
    font-size: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

.player-buttons-filler {
    flex-grow: 1;
}